@import "../../Responsive.scss";

.education {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;

    #{&}-header {
        padding-top: 3%;
        font-size: 4.2em;
        font-family: 'Gravity-Book', sans-serif;
        font-weight: 1;
        color: #2e2e2e;

        @include media(tablet_mobile, portrait) {
            font-size: 3em;
        }
    }

    #{&}-paragraph {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        font-size: 1.75em;
        font-family: 'Roboto', sans-serif;
        font-weight: 1;
        color: #5e5e5e;

        @include media(tablet_mobile, portrait) {
            font-size: 1.4em;
        }
    }
}