@import "../../Responsive.scss";

.contact {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;

    #{&}-header {
        padding-top: 3%;
        padding-bottom: 50px;
        font-size: 4.2em;
        font-family: 'Gravity-Book', sans-serif;
        font-weight: 1;
        color: #2e2e2e;

        @include media(tablet_mobile, portrait) {
            font-size: 3em;
        }
    }

    #{&}-form-container {
        margin-top: -25px;

        @include media(tablet_mobile, portrait) {
            font-size: 1em;
        }
    }

    #{&}-send-button {
        margin-top: 10px;
    }
}