@import "../../Responsive.scss";

.navbar {
    font-family: 'Roboto', sans-serif;
}

.navbar-paper {
    @include media(tablet_mobile, portrait) {
        button {
            border-radius: 0;
            border-bottom: 2px solid silver !important;
        }
    }
}
