.navbar {
    // font-size: 16px;
    font-family: 'Roboto', sans-serif;

    #{&}-header {
        padding-left: 3%;
        
    }

    @media only screen and (max-width: 770px) {
        #{&}-menu-button {
            display: initial !important;
            border: none;
            float: right !important;
        }
    }
}