@import "../../Responsive.scss";

.nameplate {
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    width: 100%;

    #{&}-header {
        font-family: 'Gravity-Book', sans-serif;
        font-size: 5em;
        font-weight: 1;
        color: #FFFFFF;
        padding-top: 5%;
        transform: translate(0%, 10%);

        @include media(tablet_mobile, portrait) {
            font-size: 3.2em;
        }
    }

    #{&}-subheader {
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
        font-weight: 1;
        color: #FFFFFF;
        transform: translate(0%, 10%);

        @include media(tablet_mobile, portrait) {
            font-size: 1.3em;
        }
    }
}

.read-more {
    position: relative;
    font-size: 2em !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 1;
    color: #FFFFFF;
    padding-top: 12%;

    #{&}-button {
        margin-top: -30px;
    }

    @include media(tablet_mobile, portrait) {
        font-size: 1.6em !important;
    }
}