.footer {
    background-color: #616161;
    height: 15vh;
    text-align: center;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #bababa;
}

.github-icon {
    color: #bababa;
}